<app-header titulo="avatar"></app-header>
<ion-chip color="primary" mode="ios" outline="true">
    <ion-label>Default</ion-label>
</ion-chip>

<ion-content>
    <ion-avatar>
        <img src="../../../assets/stan-lee.jpg" />
    </ion-avatar>
    <ion-list>
        <ion-item *ngFor="let item of [1,2,3,4,5,6,2,2,2,2,2,2,1,1,1,1,1]">
            <ion-avatar slot="start">
                <img src="../../../assets/stan-lee.jpg" />
            </ion-avatar>
            <ion-label>Stan Lee</ion-label>
        </ion-item>
    </ion-list>

</ion-content>