<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize">{{titulo}}</ion-title>


        <ion-grid slot="end">
            <ion-chip>
                <ion-avatar>
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
                <ion-label>Chip Avatar</ion-label>
            </ion-chip>
            <ion-button routerLink="/tabs/tab1" color="primary">1</ion-button>
            <ion-button routerLink="/tabs/tab2" color="primary">2</ion-button>
            <ion-button routerLink="/tabs/tab3" color="primary">3</ion-button>
        </ion-grid>
    </ion-toolbar>
</ion-header>