<app-header titulo="tab2"></app-header>

<ion-content>
    <ion-button (click)="onClick()" expand="block" fill="solid" shape="round" color="primary">
        Action button
    </ion-button>
    <ion-button (click)="alert()" expand="block" fill="solid" shape="round" color="warning">
        Alert button
    </ion-button>
    <ion-button (click)="alertPrompt()" expand="block" fill="solid" shape="round" color="success">
        Present Alert Prompt
    </ion-button>
    <ion-button (click)="alertCheckBox()" expand="block" fill="solid" shape="round" color="dark">
        Present Alert CheckBox
    </ion-button>
</ion-content>